body {
/*font-size: 200%;*/
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    line-height: 1.7;
}

.active{
    color:whitesmoke !important;
    background-color: blue;
    border-radius: 2px;
}

.logo{
  font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.disappear{
    /*color: #fff;*/
    display: none;
}

.red{
    color:#B33030;
    text-align: center;
}

h5{
    color: #D06224;
    font-weight: bolder;
}