{% extends "base.html" %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
            <title>{% block title %}{% endblock %}This is {{ name }} website</title>
        {% endblock %}

    </head>
    <body>
    <span class="disappear">Deployment</span>
    <div class="row">
        <div class="col-8 border border-light border-2">
            <h1 class="red mb-3">CI/CD</h1>
            <h5>Continuous integration and deployments:</h5>
            <p>
                Testing while merging and deploying somewhere you can see. Continuous Integration (CI) is a DevOps
                software development practice that enables the developers to merge their code changes in the central
                repository. That way, automated builds and tests can be run. In the case of Continuous Integration, a
                tremendous amount of emphasis is placed on testing automation to check on the application. This is to
                know if it is broken whenever new commits are integrated into the main branch.
            </p>
            <p>
                Continuous Deployment (CD) is the final stage in the pipeline that refers to the automatic releasing of
                any developer changes from the repository to the production. Continuous Deployment ensures that any
                change that passes through the stages of production is released to the end-users. There is absolutely no
                way other than any failure in the test that may stop the deployment of new changes to the output.
            </p>
        <h5>To deploy master to a production server -</h5>
            <ul class="list-group">
                <li class="list-group-item">After reviewing the code and once all the tests have passed, you can click
                    on "merge pull request". That will merge the pull request/ code to the master branch. This will also
                    run some tests, build the container and then will deploy the code to the production server.
                </li>

            </ul>


        </div>

        <div class="col">
            <h4 class="red mb-3">Reviewing and Deploying</h4>
            <p>To review code using a development server before merging pull requests -</p>
            <ul class="list-group mb-4">
                <li class="list-group-item">Once the pull request is done, before confirming the pull request, you can
                    click on "Files Changed" and see what is the pull request is about and hat are the updates. When the
                    pull request is done, you will see the test being done on the pull request. If the test will pass
                    then the code will be in the development workflow. You can open the Heroku dev app in the browser
                    and see everything is working fine.
                </li>
            </ul>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="{{ url_for('static', filename='images/cicd-1.png') }}" class="img-fluid rounded" alt="...">
                </li>
            </ul>

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
    </html>
{% endblock %}